<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div id="ShowMe" class="carousel-item active">
            <a href="https://lp2rdx-4200.csb.app/#/home"><img id="showMePic" class="img-fluid d-block w-100" src="./assets/ShowMe2.png" alt="ShowME app pic"></a>
            <div class="carousel-caption">
                <h5>ShowME</h5>
                <p>A scalable web app, built using Angular, that brings together your favourite shows from multiple platforms. <br><a href="https://codesandbox.io/p/sandbox/showme-forked-more-component-as-separate-component-lp2rdx">source code</a> </p>
            </div>
        </div>
        <div id="pop-up" class="carousel-item">
            <a href="https://codepen.io/tedge85/full/RwqvmKb"><img id="pop-up_img" class="img-fluid d-block w-100" src="./assets/PUMP.png"></a>
            <div class="carousel-caption">
                <h5>Pop-up Mop-up!</h5>
                <p>A silly, retro Vanilla Javascript game where you have to clear the pop-ups or guess the password before your '90s computer crashes.<br><strong>Use a mouse or trackpad to play.</strong><br><a href="https://codepen.io/tedge85/pen/RwqvmKb">source code</a></p>
            </div>
        </div>
        <div id="website" class="carousel-item">
            <a href=""><img id="website_img" class="img-fluid d-block w-100" src="./assets/website.png"></a>
            <div class="carousel-caption">
                <h5>Portfolio website</h5>
                <p>Created using Angular.<br><a href="https://codesandbox.io/p/sandbox/todd-edge-portfolio-w-carousel-forked-plvs58">source code</a></p>
            </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
<div id="rest" class="row">
    <div class=col>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>