<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div id="ShowMe" class="carousel-item active">
            <a href="https://tedge85.github.io/ShowMe/#/home"><img id="showMePic" class="img-fluid d-block w-100" src="./assets/ShowMe2.png" alt="ShowME app pic"></a>
            <div class="carousel-caption">
                <h5>ShowME</h5>
                <p>A scalable web app, built using Angular, that brings together your favourite shows from multiple platforms. <br><a href="https://codesandbox.io/p/sandbox/showme-forked-more-component-as-separate-component-lp2rdx">source code</a> </p>
            </div>
        </div>
        <div id="task_manager" class="carousel-item">
          <a href="https://github.com/tedge85/task_manager"><img id="task_manager_img" class="img-fluid d-block w-100" src="./assets/OOP3.png"></a>
          <div class="carousel-caption">
            <h5>Task Manager</h5>
            <p>A Python command line app that utilises OOP to allow multiple registered users to add, view and edit tasks, as well as displaying reports and statistics on said users & tasks.</p>
          </div>
        </div>
        <div id="email_viewer" class="carousel-item">
          <a href="https://github.com/tedge85/email_viewer"><img id="email_viewer_img" class="img-fluid d-block w-100" src="./assets/email.png"></a>
          <div class="carousel-caption">
            <h5>Email Viewer</h5>
            <p>A Python command line email simulator that utilises OOP to allow users to populate an inbox; read emails and mark these as 'read'; and list unread emails.</p>
          </div>
        </div>
        <div id="surfshop" class="carousel-item">
          <a href="https://github.com/tedge85/Surfshop"><img id="surfshop_img" class="img-fluid d-block w-100" src="./assets/surfshop.png"></a>
          <div class="carousel-caption">
            <h5>Surfshop shopping cart</h5>
            <p>A Python command line dummy shopping cart for Sam’s Surf Shop, featuring Unit testing.</p>
          </div>
        </div>
         <div id="pop-up" class="carousel-item">
            <a href="https://codepen.io/tedge85/full/RwqvmKb"><img id="pop-up_img" class="img-fluid d-block w-100" src="./assets/PUMP.png"></a>
            <div class="carousel-caption">
                <h5>Pop-up Mop-up!</h5>
                <p id="PUMU_p">My first ever project: a silly, retro Vanilla Javascript game where you have to clear the pop-ups or guess the password before your '90s computer crashes.<br><strong>Use a mouse or trackpad to play.</strong><br><a href="https://codepen.io/tedge85/pen/RwqvmKb">source code</a></p>
            </div>
        </div>
        <div id="website" class="carousel-item">
            <img id="website_img" class="img-fluid d-block w-100" src="./assets/website.png">
            <div class="carousel-caption">
                <h5>Portfolio website</h5>
                <p>Created using Angular.<br><a href="https://github.com/tedge85/portfolio/tree/gh-pages">source code</a></p>
            </div>
        </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
</div>
<div id="rest" class="row">
    <div class=col>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>
