<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div id="angular" class="carousel-item active">
            <img class="img-fluid d-block w-100" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" class="d-block w-100" alt="...">
        </div>
        <div id="typescript" class="carousel-item">
            <img class="img-fluid d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/2048px-Typescript_logo_2020.svg.png" class="d-block w-100" alt="...">
        </div>
        <div id="bootstrap" class="carousel-item">
            <img class="img-fluid d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1280px-Bootstrap_logo.svg.png" class="d-block w-100" alt="...">
        </div>
        <div id="HTML-CSS-JS" class="carousel-item">
            <img id="HTML-CSS-JS_img" class="img-fluid d-block w-100" src="https://www.freepnglogos.com/uploads/javascript/logo-html-5-css-javascript-source-code-for-the-taking-23.png">
        </div>
        <div id="python" class="carousel-item">
            <img class="img-fluid d-block w-100" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1869px-Python-logo-notext.svg.png">
        </div>
        <div id="sql" class="carousel-item">
            <img class="img-fluid d-block w-100" src="https://cdn.freebiesupply.com/logos/large/2x/sqlite-logo-png-transparent.png" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div>
</div>


