body {
  background: rgb(255, 217, 204);
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

@import '~bootstrap/dist/css/bootstrap.min.css';

