<section class="container-fluid" id="welcome-section">
        <div class="row box justify-content-center">
            <div id="card"  class="card shadow-lg p-3 mb-5 bg-body-tertiary opacity-75 col-10 col-xl-12 align-self-center text-center" id="h1Box">
                <br><br>
                <h1><strong><span>Welcome</span></strong></h1>
                <br>
                <h3>
                    <span>&nbsp;I&nbsp;</span>
                    <span>am&nbsp;</span>
                    <span>passionate&nbsp;</span>
                    <span>about&nbsp;</span>
                    <br><br>
                    <span>making</span>
                    <br><br><br><br>
                    <hr class="animated-hr-one">                    
                    <br><br>
                    <span class="animate-character">beautiful</span>
                    <br><br>
                    <span class="i">yet</span>
                    <br><br>
                    <span id="functional"><strong>functional</strong></span>  
                    <br><br>                                     
                    <span>software</span>
                    <br><br><br><br>
                    <hr class="animated-hr-two">
                    <br><br><br>                
                    <span class="final_msg">&nbsp;Explore&nbsp;</span>
                    <span class="final_msg">my&nbsp;</span>
                    <span class="final_msg">site&nbsp;</span>
                    <span class="final_msg">and&nbsp;</span>
                    <span class="final_msg">see&nbsp;</span>
                    <span class="final_msg">for&nbsp;</span>
                    <span class="final_msg">yourself&nbsp;</span>
                <br><br><br>
                </h3>      
            </div>
        </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <!--<p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>-->
        </div>
    </div>
</div>